---
layout: single
author_profile: true
classes: wide
---

<p>Welcome to my website!</p>
<p>I am an Assistant Professor of Mathematics and Computer Science at the <a
        href="https://www.mcla.edu">Massachusetts College of Liberal Arts</a>.
    Previously, I was a Visiting Assistant Professor in the <a href="https://csci.williams.edu">Department of Computer
        Science at Williams College</a>.</p>

<p><a href="/research/">Research</a> contains an
    overview of my research and results are found at <a href="/publications/">Publications</a>. I routinely discuss my
    results at conferences and seminars, listed
    <a href="/presentations/">Presentations</a>. <a href="/teaching/">Teaching</a> contains course
    descriptions from the courses I have taught. Visit the <a href="/about/">About Me</a> page to learn more.
</p>

<b>Recent <a href="/publications/">Publications and Pre-prints</a>:</b>

{% assign recent = site.data.publications | where_exp: "p", "p.type != 'dissertation'" %}
{% for pub in recent limit: 3 %}{% include publication.html pub=pub number=forloop.index abstract=false %}
{% endfor %}

<p>Please feel free to get in touch!</p>